<h1>歌手一覧</h1>

<p>
<%= new_button '歌手追加', new_artist_path -%>
</p>

<table class="<%= table_css_classes -%>">
  <thead>
  <tr>
    <th>歌手名</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @artists.each do |artist| %>
  <tr>
    <td><%= link_to artist.name, artist %></td>
    <td><%= edit_icon_link edit_artist_path(artist) -%></td>
    <td><%= delete_icon_link artist -%></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @artists %>
