<% content_for :title do -%>
  <%= @artist.name %>
<% end -%>

<h1><%= @artist.name %></h1>

<% if @artist.songs.size > 0 -%>
<table class="<%= table_css_classes -%>">
  <thead>
  <tr>
    <th><%= Song.human_attribute_name('name') -%></th>
  </tr>
  </thead>
  <tbody>
  <% @artist.songs.each do |song| -%>
    <tr>
      <td><%= link_to song.name, song %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
<% end -%>

<%= link_to t('artists.edit.title'), edit_artist_path(@artist) %> |
<%= link_to t('artists.index.title'), artists_path %>
