<%= form_for(@sing_log) do |f| %>
  <% if @sing_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sing_log.errors.count, "error") %> prohibited this sing_log from being saved:</h2>

      <ul>
      <% @sing_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :song_id %><br />
    <%= f.number_field :song_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
