<h1>曲履歴一覧</h1>

<table class="<%= table_css_classes -%>">
  <thead>
  <tr>
    <th>曲名</th>
    <th>歌手名</th>
    <th>日時</th>
  </tr>
  </thead>

  <tbody>
  <% @sing_logs.each do |sing_log| %>
  <tr>
    <td><%= sing_log.song_link -%></td>
    <td><%= sing_log.artist_link -%></td>
    <td><%= sing_log.sang_at %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @sing_logs %>
