<%= form_for(song) do |f| %>
  <%= render 'error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :artist_id %>
    <%= f.collection_select 'artist_id', Artist.all, :id, :name, {include_blank: true}, {class: 'form-control'} %>
    <%= f.text_field :artist_name, placeholder: t('helpers.placeholder.song.artist_name'), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :movie_url %>
    <%= f.text_field :movie_url, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-outline-primary', data: {disable_with: t('dictionary.form.disable_with')} %>
  </div>
<% end %>
