<%= form_for(@song) do |f| %>
  <%= render 'error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :artist_id %>
    <%= f.collection_select 'artist_id', Artist.all, :id, :name, include_blank: true %>  
    <%= f.text_field :artist_name, :placeholder => t('helpers.placeholder.song.artist_name') %>
  </div>
  <div class="field">
    <%= f.label :movie_url %>
    <%= f.text_field :movie_url %>
  </div>
  <div class="field">
    <%= f.label :lyrics_file %>
    <%= f.file_field :lyrics_file %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn'%>
  </div>
<% end %>
