<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :artist_id %>
    <%= f.collection_select 'artist_id', Artist.all, :id, :name %>  <%= link_to '歌手追加', new_artist_path, {:hoge => 'hoge'} %>
  </div>
  <div class="field">
    <%= f.label :movie_url %>
    <%= f.text_field :movie_url %>
  </div>
  <div class="actions">
    <%= f.submit '決定', :class => 'btn'%>
  </div>
<% end %>
