<%= turbo_frame_tag song do %>
  <tr>
    <% if song.sang? -%>
      <td><%= song.pin_link -%></td>
      <td><%= song.star_link -%></td>
    <% else %>
      <td colspan=2><%= song.star_link -%></td>
    <% end -%>
    <td><%= song.song_link -%></td>
    <td><%= edit_icon_link edit_song_path(song) -%></td>
    <td><%= search_icon_link song -%></td>
    <td><%= delete_icon_link song -%></td>
  </tr>
<% end %>
