<span id="num_of_songs"><%= t('.num_of_songs', num: @all_songs.size) -%></span>

<p>
<%= new_button t('songs.new.title'), new_song_path -%>
</p>

<table class="<%= table_css_classes -%>">
  <thead>
  <tr>
    <th></th>
    <th><%= Song.human_attribute_name('name') -%></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @songs.each do |song| -%>
  <tr>
    <td><%= song.star_link -%></td>
    <td><%= song.song_link -%></td>
    <td><%= edit_icon_link edit_song_path(song) -%></td>
    <td><%= delete_icon_link song -%></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @songs -%>
