<div class='d-flex justify-content-between align-items-center my-2'>
  <div>
    <%= t('.num_of_songs', num: @all_songs.size) -%>
    </div>
  <div>
    <%= link_to t('songs.new.title'), new_song_path, class: 'btn btn-outline-secondary btn-sm' -%>
  </div>
</div>

<table class="<%= table_css_classes -%>">
  <%= turbo_frame_tag "songs-list", data: { turbo_action: :advance } do %>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th><%= Song.human_attribute_name('name') -%></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= turbo_frame_tag "songs-page-#{@songs.current_page}" do %>
        <%= render @songs %>
        <%= turbo_frame_tag "songs-page-#{@songs.next_page}", loading: :lazy, src: path_to_next_page(@songs) %>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= paginate @songs -%>
