<h1>曲一覧</h1>

<p>
<%= button_to('曲追加', new_song_path, :class => 'btn', :method => :get) %>
</p>

<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th></th>
    <th>曲名</th>
    <th>歌った？</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @songs.each do |song| %>
  <tr>
    <td><%= button_to('歌った!', singing_path(song), :class => 'btn btn-mini') %>
    <td><%= song.name %></td>
    <td><%= song.sang? ? '<i class="icon-ok"></i>'.html_safe : "" %></td>
    <td><%= link_to '<i class="icon-zoom-in"></i>'.html_safe, song %></td>
    <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_song_path(song) %></td>
    <td><%= link_to '<i class="icon-trash"></i>'.html_safe, song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>
