<% content_for :title do -%>
  <%= @song.name %>
<% end -%>

<p>
  <b><%= Song.human_attribute_name('name') -%>:</b>
  <%= @song.name -%>
</p>

<p>
  <b><%= Song.human_attribute_name('artist_id') -%>:</b>
  <%= @song.artist_link -%>
</p>

<p>
  <b><%= Song.human_attribute_name('last_sang_at') -%>:</b>
  <%= @song.last_sang_at %>
</p>

<div class='row-fluid'>
  <% if @song.has_movie? -%>
  <div class='span6'>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/<%= @song.youtube_v %>?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <% end -%>

  <p>
    <b><%= t('.lyric_link') -%>:</b>
    <%= @song.lyric_link -%>
  </p>
</div>

<p>
  <b><%= Song.human_attribute_name('sing_logs') -%>:</b>
  <table class="<%= table_css_classes -%>">
    <thead>
    <tr>
      <th><%= SingLog.human_attribute_name('sang_at') -%></th>
    </tr>
    </thead>
    <tbody>
      <% @song.sing_logs.each do |sing_log| %>
        <tr>
          <td><%= sing_log.sang_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to t('songs.edit.title'), edit_song_path(@song) %> |
<%= link_to t('songs.index.title'), songs_path %>
