<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbo-cache-control" content="no-cache">
    <title><%= content_for?(:title) ? yield(:title) : "SongForge" %></title>
    <%= csrf_meta_tags %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>

    <div class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SongForge</a>

        <%= form_tag root_path, class: 'form-search d-flex', method: 'GET' do %>
          <div class="form-group mr-2">
            <%= text_field_tag :q, params[:q], class: 'input-medium search-query form-control-sm' %>
          </div>
          <div class="form-group me-2">
            <%= submit_tag t('.submit'), class: 'btn btn-outline-secondary btn-sm navbar-btn' %>
          </div>
          <% if signed_in? %>
            <%= link_to "Sign out", signout_path, method: :delete, class: '' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <ul class="nav nav-tabs" id="dashboard">
      <% ['songs', 'artists', 'sing_logs'].each do |tab| %>
        <li class="nav-item">
          <% klass = controller.controller_name == tab ? "nav-link active" : "nav-link" %>
          <%= link_to t("#{tab}.index.title"), send("#{tab}_path"), class: klass %>
        </li>
      <% end %>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
